@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

@layer utilities {
  .focus-primary {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#DBD7FB];
  }

  .no-focus {
    @apply focus-visible:outline-none focus-visible:outline-offset-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
}
